<div class="container card ">
    <div class="row ">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
        <div class="image "></div>
      </div>
      <div class="name col-6 col-sm-6 col-md-6 col-lg-6">
        <h5>Diseñador gráfico</h5>
        <p>Shopify</p>
      </div>
      <div class=" col-3 col-sm-3 col-md-3 col-lg-3">
        <button class="btn btn-primary">📨 Inscribirme</button>
      </div>
      <div class="description col-8 col-sm-8 col-md-8 col-lg-8">
        <p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nihil, dignissimos rerum aliquam autem, aut incidunt temporibus cum quis maiores quisquam facilis doloribus sunt voluptatum repudiandae nostrum ullam libero exercitationem.
        Error, non? Corrupti vel praesentium mollitia alias maiores provident esse odit, consectetur sed placeat, animi, incidunt numquam fugiat. Nihil minima quia nam maxime perferendis necessitatibus. Dolorum impedit molestias rem consequuntur!
        Excepturi animi labore alias qui natus mollitia. Velit impedit necessitatibus veritatis unde? Veritatis ratione quos sequi minima, quasi voluptatibus suscipit provident accusamus ducimus accusantium illo natus minus, consequatur odio excepturi.
        Placeat voluptate modi repellendus omnis, vel natus corrupti accusantium, non temporibus architecto expedita pariatur exercitationem beatae ipsam repudiandae. Reiciendis ab ad quidem labore fugiat id nisi saepe animi molestias expedita!
        Excepturi recusandae laudantium quisquam fuga error, quaerat quos numquam, magnam ad, culpa maiores libero eius eveniet! Magni rem sequi consequatur. Cum delectus maxime dolorem perferendis modi ex tempora est quisquam.</p>
        </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="data col-3 col-sm-3 col-md-3 col-lg-3">
        <h6>LOCALIZACIÓN</h6>
        <p>Madrid</p>
        <h6>FORMATO</h6>
        <p class="p-2 badge badge-ft">Tiempo completo</p>
        <h6>FECHA PUBLICACIÓN</h6>
        <p>12/05/2021</p>
      </div>
  </div>
</div>


<!--
<div class="container d-flex justify-content-center">
  <div class="column">
    <div class="card ">
      <div class="row ">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
          <div class="image "></div>
        </div>
        <div class="name col-6 col-sm-6 col-md-6 col-lg-6">
          <h5>Diseñador gráfico</h5>
          <p>Shopify</p>
        </div>
        <div class="application col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-end">
          <button class="btn">...</button>
        </div>
        <div class="description col-8 col-sm-8 col-md-8 col-lg-8">
          <p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nihil, dignissimos rerum
            aliquam autem, aut incidunt temporibus cum quis maiores quisquam facilis doloribus sunt voluptatum
            repudiandae nostrum ullam libero exercitationem.
            Error, non? Corrupti vel praesentium mollitia alias maiores provident esse odit, consectetur sed placeat,
            animi, incidunt numquam fugiat. Nihil minima quia nam maxime perferendis necessitatibus. Dolorum impedit
            molestias rem consequuntur!
            Excepturi animi labore alias qui natus mollitia. Velit impedit necessitatibus veritatis unde? Veritatis
            ratione quos sequi minima, quasi voluptatibus suscipit provident accusamus ducimus accusantium illo natus
            minus, consequatur odio excepturi.
            Placeat voluptate modi repellendus omnis, vel natus corrupti accusantium, non temporibus architecto expedita
            pariatur exercitationem beatae ipsam repudiandae. Reiciendis ab ad quidem labore fugiat id nisi saepe animi
            molestias expedita!
            Excepturi recusandae laudantium quisquam fuga error, quaerat quos numquam, magnam ad, culpa maiores libero
            eius eveniet! Magni rem sequi consequatur. Cum delectus maxime dolorem perferendis modi ex tempora est
            quisquam.</p>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="data col-3 col-sm-3 col-md-3 col-lg-3">
          <h6>LOCALIZACIÓN</h6>
          <p>Madrid</p>
          <h6>FORMATO</h6>
          <p class="badge badge-ft">Tiempo completo</p>
          <h6>FECHA PUBLICACIÓN</h6>
          <p>12/05/2021</p>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <h5 class="ms-3">5 candidatos inscritos</h5>
    </div>
    <div class="card p-3">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 d-flex justify-content-center">
          <p class="inicial badge bg-primary text-center p-2 m-0">A</p>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <p class="candidato m-0">Andrey Marin</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end">
          <button class="button-cv btn btn-primary">🗎 Visualizar CV</button>

          <button class="button-contact btn btn-outline-primary">✆ Contactar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
