<!-- <div class="container mt-4 mb-2">
  <h2>Mi panel</h2>
  <p>Gestiona todas tus ofertas de empleo desde un mismo sitio</p>
</div>
<app-oferta></app-oferta> -->

<div class="container mt-4 mb-2">

  <h2>Mi publicaciones</h2>
  <p>Gestiona todas tus ofertas de empleo desde un mismo sitio</p>
  <div class="card">
    <div class="row">
    <div class="col-4 col-sm-4 col-md-3 col-lg-2">
      <div class="image ms-5"></div>
    </div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-4 pt-2">
      <h5>Diseñador gráfico</h5>
      <p class="m-0">Shopify</p>
    </div>
    <div class="col-4 col-sm-4 col-md-2 col-lg-2 location text-center ">
      <p>12/05/2021</p>
      <p class="m-0">Madrid</p>
    </div>
    <div class="col-4 col-sm-4 col-md-2 col-lg-2 type text-center">
      <p class="p-4 m-0 badge badge-ft"><span>4</span><br><br>candidatos</p>
    </div>
    <div class="application col-4 col-sm-4 col-md-2 col-lg-2 date text-center">
      <button class="btn">...</button>
    </div>
  </div>

</div>
